{% extends 'base.html' %}

{% block content %}
    <h1>Book Info:</h1>
    <p>ISBN: {{ book['isbn'] }}</p>
    <p>Title: {{ book['title'] }}</p>
    <p>Author: {{ book['author'] }}</p>
    <p>Year: {{ book['year'] }}</p>
    <p>Ratings count: {{ goodreads_book_info['work_ratings_count'] }}</p>
    <p>Average Rating: {{ goodreads_book_info['average_rating'] }}</p>
    <h2>Reviewes:</h2>
    {% for review in reviews %}
        <p>Review: {{ review['review'] }}; User login: {{ review['user_login'] }}; Rating: {{ review['rating'] }}</p>
    {% endfor %}
    {% if not user_has_review and g.user %}
    <form method="POST">
        <fieldset>
            <legend>Make Review:</legend>
            <label>Your review: <textarea name="review" cols="30" rows="10" maxlength="512" required></textarea></label>
            <label>Rating:
                <label>1<input type="radio" name="rating" value="1" required></label>
                <label>2<input type="radio" name="rating" value="2" required></label>
                <label>3<input type="radio" name="rating" value="3" required></label>
                <label>4<input type="radio" name="rating" value="4" required></label>
                <label>5<input type="radio" name="rating" value="5" required></label>
            </label>
        </fieldset>
        <p><button type="submit">Send</button></p>
    </form>
    {% endif %}
{% endblock %}